// Code generated by Fern. DO NOT EDIT.

package roles

import (
	context "context"
	http "net/http"

	myorganization "github.com/auth0/myorganization-go"
	core "github.com/auth0/myorganization-go/core"
	internal "github.com/auth0/myorganization-go/internal"
	option "github.com/auth0/myorganization-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Retrieve a list of roles assigned to a member specified by ID for this Organization.
func (c *Client) List(
	ctx context.Context,
	userID myorganization.OrgMemberID,
	request *myorganization.ListOrgMemberRolesRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*string, *myorganization.Role, *myorganization.GetOrganizationMemberRolesResponseContent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/my-org/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/members/%v/roles",
		userID,
	)
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"take": 50,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("from", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(myorganization.ErrorCodes),
		}
	}
	readPageResponse := func(response *myorganization.GetOrganizationMemberRolesResponseContent) *core.PageResponse[*string, *myorganization.Role, *myorganization.GetOrganizationMemberRolesResponseContent] {
		var zeroValue *string
		next := response.Next
		results := response.Roles
		return &core.PageResponse[*string, *myorganization.Role, *myorganization.GetOrganizationMemberRolesResponseContent]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.From)
}

// Assign roles to a member specified by ID for this Organization.
func (c *Client) Assign(
	ctx context.Context,
	userID myorganization.OrgMemberID,
	request *myorganization.OrganizationMemberRolesChangeRequestContent,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Assign(
		ctx,
		userID,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Remove roles from a member specified by ID for this Organization.
func (c *Client) Unassign(
	ctx context.Context,
	userID myorganization.OrgMemberID,
	request *myorganization.OrganizationMemberRolesChangeRequestContent,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Unassign(
		ctx,
		userID,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}
